# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
PORT=3000
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"

# Add real values
SESSION_SECRET="secret key that is quite long and random"
STRIPE_SECRET_KEY="sk_test_51PnCiMP7VXZlHm66jpN5QViGhYUnnyZyygNwK4HHWujih8pPqntTxSPx9Zt9oJDRUdA3ypGLcIg02fbeEUiLU75e00gQyCpUfp"
STRIPE_ORDER_COMPLETE_WEBHOOK_SECRET="whsec_cefabab415e48a7e192bb62b342d80a4803753fb609515bee5707683dc3cdd32"